/**
 * Back-end styles.
 */

/******************************************************************************

Admin screen customization.

******************************************************************************/

/* */
table.not_found_log_entries td, table.not_found_log_entries th {
    padding: 1em ;
    text-align: left ;
}

table.form-table.content_sanitizers_settings-table th:nth-child(1){
    width: 40% ;
}

table.form-table.dashboard_settings-table th:nth-child(1){
    width: 40% ;
}