/**
 * Back-end styles.
 */

/******************************************************************************

Admin screen modifications.

******************************************************************************/

/* https://catalin.red/sticky-table-th/ */
/* Add sticky header to admin tables / indexical listings. */
thead.sticky th, thead.sticky #cb {
    top: 32px ;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    background-color: rgb(255, 255, 255) ;
}

/* */
table.not_found_log_entries td, table.not_found_log_entries th {
    padding: 1em ;
    text-align: left ;
}

/* Hide "Register toolset" message for lapsed subscriptions. */
/* Better done in CSS because it works right away, but jQuery allows greater specificity. */
div.toolset-notice-wp.notice.toolset-notice {
    display: none ;
}