/**
 * Back-end styles.
 */

/******************************************************************************

Admin screen modifications.

******************************************************************************/

/* https://catalin.red/sticky-table-th/ */
/* Add sticky header to admin tables / indexical listings. */
thead.sticky th, thead.sticky #cb {
    top: 32px ;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    background-color: rgb(255, 255, 255) ;
}