/**
 * WordPress login screen styles.
 */

:root {
    --primary-color: rgb(0,0,0);
    --typeface: Helvetica, Arial, sans-serif ;
}

body {
    font-family: var(--typeface) ;
    font-style: normal ;
    font-weight: normal ;
    background-color: #fff ;
}

.login form {
    box-shadow: 0 2px 5px rgba(0,0,0,.23) ;
}

#login h1, .login h1 {
    display: none;
}

#login h2, .login h2 {
    font-family: var(--typeface) ;
    font-style: normal ;
    font-weight: normal ;
    font-size: 2em ;
    line-height: 1.3em;
}

#login h2 a, .login h2 a {
    color: var(--primary-color) ;
    text-decoration: none ;
}

#login h2 a:hover, .login h2 a:hover {
    color: var(--primary-color) ;
    border-bottom: 2px solid var(--primary-color) ;
}
#login h3, .login h3 {
    margin-top: 10px ;
    font-weight: normal ;
}

h3, label, p {
    color: #393939 ;
}

/* Style login button. */
#wp-submit, #wp-submit:focus {
    background-color: var(--primary-color) ;
    border-color: var(--primary-color) ;
    /*text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799 ;*/
    text-shadow: none ;
    box-shadow: 0 1px 0 var(--primary-color) ;
}

.login #backtoblog a, .login #nav a {
    color: var(--primary-color) ;
    padding-bottom: 1px ;
}

.login #backtoblog a:hover, .login #nav a:hover,
.login #backtoblog a:focus, .login #nav a:focus {
    color: var(--primary-color) ;
    border-bottom: 1px solid var(--primary-color) ;
}

/* Add space above "You are now logged out." message. */
.login #login_error, .login .message, .login .success {
    margin-top: 1em ;
}

#login .message {
    border-left: 4px solid var(--primary-color) ;
    margin: 16px 0 ;
}